Source: jolicloud-displaymanager
Section: jolicloud/system
Priority: optional
Maintainer: Arnaud Vallat <arnaud@jolicloud.org>
Build-Depends: debhelper (>= 5), libpam0g-dev, libwebkit-dev
Standards-Version: 3.9.1.0
Homepage: http://www.jolicloud.com
Vcs-Git: git://github.com/jolicloud/jolicloud-displaymanager.git
Vcs-Browser: https://github.com/jolicloud/jolicloud-displaymanager

Package: jolicloud-displaymanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam0g, libwebkit-1.0-2
Provides: slim, jolicloud-slim-theme
Conflicts: slim, jolicloud-slim-theme
Replaces: slim, jolicloud-slim-theme
Description: Jolicloud Display Manager
 This package includes an HTML5 Display Manager.
